@import "tailwindcss";

@theme {
  /* Colors */
  --color-prisma-yellow: #f2b705;
  --color-prisma-yellow-dark: #f5b400;
  --color-prisma-yellow-light: #fff1c1;

  --color-prisma-blue: #0b3c5d;
  --color-prisma-blue-dark: #123b5a;

  --color-prisma-white: #ffffff;
  --color-prisma-off-white: #f9f9f9;

  --color-prisma-gray: #2b2b2b;
  --color-prisma-gray-soft: #333333;

  /* Fonts */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
